*{
    padding: 0;
    margin: 0;
}
.body{
    background-image: url("../images/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(23, 23, 187),white);
    width: 90vmin;
    height: 90vmin;
    border: 5px solid black;
    border-radius: 5%;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
#scoreBox{
    position:absolute;
    top:5%;
    right: 15%;
    font-size: 200%;
    font-weight: bold;
}
#instructionBox
{
    position:absolute;
    top:15%;
    left: 1%;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 1%;
    border-radius: 10%;
    border-style:dotted;
    border-color: blue;
    
}
#spaceBox
{
    position:absolute;
    top:40%;
    left: 1.5%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 1%;
    border-radius: 10%;
    border-style:dotted;
    border-color: blue;
}
.head{
    background: linear-gradient(red,yellow);
    border-style: solid;
    border-color:tomato;
    border-radius: 15%;
}
.snake{
    background:linear-gradient(rgb(0, 12, 0),purple);
    border-radius: 15%;
    margin:5%;
    border-style: solid;
    border-color:white;
}
.food{
    /*
    background:linear-gradient(rgb(214, 50, 50),rgb(251, 255, 23));
    border-radius: 15%;
    margin:5%;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    */

    background-size: 125%;
    background-repeat: no-repeat;
    background-image: url("../images/apple.png");
    
}